body {
	display: grid;
	grid-template-rows: 40px 1fr;
	grid-template-columns: 40px 1fr;
	grid-template-areas: "g_logo  g_info"
						"g_menu  g_body";
	min-height: 100vh;
}

.g_logo {
	grid-area: g_logo;
}

.g_info {
	grid-area: g_info;
}

.g_menu {
	grid-area: g_menu;
}

.g_body {
	grid-area: g_body;
}

.g_info_l {
	position: absolute;
    letter-spacing: 2px;
    width: 200px;
}

.g_info_r {
	padding-left: 200px;
	text-align: right;
}

@media screen and (max-height: 500px) {
    body {
        min-height: 499px;
    }
}