body {
	display: -ms-grid;
	display: grid;
	-ms-grid-rows: 40px 1fr;
	grid-template-rows: 40px 1fr;
	-ms-grid-columns: 40px 1fr;
	grid-template-columns: 40px 1fr;
	    grid-template-areas: "g_logo  g_info"
						"g_menu  g_body";
	min-height: 100vh;
	min-width: 900px;
}

.g_logo {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	grid-area: g_logo;
	height: 40px;
	line-height: 40px;
	background-color: #3d89f9;
	text-align: center;
	vertical-align: middle;
}

.g_info {
	-ms-grid-row: 1;
	-ms-grid-column: 2;
	grid-area: g_info;
	height: 40px;
	line-height: 40px;
}

.g_menu {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
	grid-area: g_menu;
	background-color: rgb(25, 28, 43);
}

.g_body {
	-ms-grid-row: 2;
	-ms-grid-column: 2;
	grid-area: g_body;
	padding: 10px;
	background-color: rgb(245, 245, 245);
}

.g_info_l {
	position: absolute;
	padding-left: 10px;
    letter-spacing: 2px;
    width: 215px;
    color: rgb(53, 140, 245);
    font-weight: 600;
}
/*管理员按钮样式  */
.g_info_r img[data-iicon] {
    margin-right: 20px;
    cursor:pointer;
}
.user_dropdown{
    display: inline-block;
    margin-right: 20px;
}
.user_dropdown>button{
    border: none;
    padding:0;
    background-color:#fff;
    outline:none;
}
.user_dropdown .curusername{
	text-indent:20px;
}
.user_dropdown .divider{
	margin:0!important;
}
.user_dropdown .Information>a,.user_dropdown .AdminOperat>a{
    height: 35px;
    line-height: 35px;
}
.g_info_r {
	padding-left: 215px;
	text-align: right;
}

.g_info_r .glyphicon {
	margin-right: 20px;
	font-size: 22px;
	vertical-align: middle;
}

.g_bodyin {
	height: 100%;
}

.g_bodyin_tit {
    margin-bottom: 20px;
	height: 35px;
	line-height: 35px;
}

.g_bodyin_tit_l {
	position: absolute;
	width: 30px;
	border-right: 2px solid #000;
}

.g_bodyin_tit_r {
	position: relative;
	padding-left: 30px;
}
.RF_SP2{
	cursor:pointer;
}
.g_bodyin_tit_r .breadcrumb {
	padding: 0px 15px;
}

.g_bodyin_tit_r>span {
	position: absolute;
	font-size: 20px;
	right: 15px;
	top: 7px;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);	/* Safari 和 Chrome */
	-moz-transform: rotateY(180deg);	/* Firefox */
	display: none;
}

.g_bodyin_body {
	padding: 15px;
	height: calc(100% - 55px);
	background-color: #fff;
}

.g_bodyin_bodyin {
	height: 100%;
	display: -ms-grid;
	display: grid;
	-ms-grid-rows: 5px 1fr;
	grid-template-rows: 5px 1fr;
	    grid-template-areas: "g_bodyin_bodyin_top"
						"g_bodyin_bodyin_bottom";
}

.g_bodyin_bodyin_top {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	grid-area: g_bodyin_bodyin_top;
	display: none;
}

.g_bodyin_bodyin_bottom {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
	grid-area: g_bodyin_bodyin_bottom;
}

.g_bodyin_bodyin_bottom_1 {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 350px 1fr;
	grid-template-columns: 350px 1fr;
	    grid-template-areas: "g_bodyin_bodyin_bottom_l g_bodyin_bodyin_bottom_r";
}

.g_bodyin_bodyin_bottom_2 {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 350px 1fr;
	grid-template-columns: 350px 1fr;
	    grid-template-areas: "g_bodyin_bodyin_bottom_lsub g_bodyin_bodyin_bottom_rsub";
	height: 100%;
	opacity: 0;
}

.g_bodyin_bodyin_bottom_lsub {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	grid-area: g_bodyin_bodyin_bottom_lsub;
	display: -ms-grid;
	display: grid;
	-ms-grid-rows: 1fr 1fr 35px;
	grid-template-rows: 1fr 1fr 35px;
	    grid-template-areas: "g_bodyin_bodyin_bottom_lsub_top"
						"g_bodyin_bodyin_bottom_lsub_mid"
						"g_bodyin_bodyin_bottom_lsub_bottom";
	height: 100%;
}

.g_bodyin_bodyin_bottom_lsub_top {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	grid-area: g_bodyin_bodyin_bottom_lsub_top;
	border: 1px solid #ddd;
	height: 50%;
	overflow-y: auto;
}

.g_bodyin_bodyin_bottom_lsub_mid {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
	grid-area: g_bodyin_bodyin_bottom_lsub_mid;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 15px;
	overflow-y: auto;
}

.g_bodyin_bodyin_bottom_lsub_mid .mid_newbg{
	background:#d9edf7!important;
}

.g_bodyin_bodyin_bottom_lsub_mid table tbody tr td{
	font-size:12px;
}
.g_bodyin_bodyin_bottom_lsub_mid table  thead th,.g_bodyin_bodyin_bottom_lsub_mid table tbody tr td{
	width:90px;
	max-width:90px;
	overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
}
 .g_bodyin_bodyin_bottom_lsub_mid table tbody tr td:nth-child(4){
	text-align:center;
} 
.g_bodyin_bodyin_bottom_lsub_mid_iparam{
	cursor:pointer;
}
.g_bodyin_bodyin_bottom_lsub_mid table tbody tr td input{
	width:calc(100% - 6px);
	margin:0 auto;
	border:none;
}

.g_bodyin_bodyin_bottom_lsub_bottom {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
	grid-area: g_bodyin_bodyin_bottom_lsub_bottom;
}

.g_bodyin_bodyin_bottom_rsub {
	-ms-grid-row: 1;
	-ms-grid-column: 2;
	grid-area: g_bodyin_bodyin_bottom_rsub;
	padding-left: 20px;
}

.g_bodyin_bodyin_bottom_rsubin {
	display: -ms-grid;
	display: grid;
	-ms-grid-rows: 40px 1fr;
	grid-template-rows: 40px 1fr;
	    grid-template-areas: "chartTit"
						"chartBody";
	border: 1px solid #d0d0d0;
	-webkit-box-shadow: 0 0 3px 2px #e3e3e3;
	box-shadow: 0 0 3px 2px #e3e3e3;
	height: 100%;
	opacity: 0;
}

.chartTit {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	grid-area: chartTit;
	line-height: 30px;
	text-indent: 20px;
}

.chartBody {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
	grid-area: chartBody;
	padding: 0 20px;
	overflow-y: auto;
}

 /* .chartBody>div {
	height: 100%;
}

.chartBody>div>div.row {
	height: 100%;
}
.chartBody>div>div.row>div{
	height: 100%;
}
.chartBody>div>div.row .panel {
	height: 100%;
}
.chartBody>div>div.row>.panel>.panel-body{
    height: calc(100% - 80px)!important;

} */
/*.chartBody>div>div+div {
	margin-top: 6px;
}

.chartBody>div>div>div {
	padding-left: 0;
	padding-right: 0;
	height: 100%;
}

.chartBody>div>div>div>div {
	height: 100%;
}
 */

.g_bodyin_bodyin_bottom_gaussiandistribution .chart_body{
	display:inline-block;
	width:calc(100% - 185px);
}

.g_bodyin_bodyin_bottom_gaussiandistribution .chart_foot{
	width:185px;
	display:inline-block;
    vertical-align: top;
}

.colorinterval tr th,.colorinterval tr td{
	text-align:center;
	font-size:14px;
}

/*色阶图*/
 .g_bodyin_bodyin_bottom_rsubin[data-ishowchart="wafermap"] .chartBody .row {
	height: 100%;
} 
/*  .g_bodyin_bodyin_bottom_rsubin[data-ishowchart="wafermap"] .chartBody .row>div {
	height: 100%;
} 
 .g_bodyin_bodyin_bottom_rsubin[data-ishowchart="wafermap"] .chartBody .row>div .panel-body{
	height: 100%;
}
.g_bodyin_bodyin_bottom_wafermap .chartBody .container-fluid{
	height: 100%;
}
.g_bodyin_bodyin_bottom_wafermap .chartBody .chart_body{
	height: 100%;
}

.g_bodyin_bodyin_bottom_wafermap .chartBody>.container-fluid .panel{
	height: 100%;
}
.g_bodyin_bodyin_bottom_wafermap .chartBody>.container-fluid>.panel>.panel-body{
	height:calc(100% - 50px) ;
} */
 /*.g_bodyin_bodyin_bottom_rsubin[data-ishowchart="wafermap"] .chartBody>div>div>div>div:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	grid-area: wafermap_wrap;
}

.g_bodyin_bodyin_bottom_rsubin[data-ishowchart="wafermap"] .chartBody>div>div>div>div.colorOrder_wrap {
	-ms-grid-row: 1;
	-ms-grid-column: 2;
	grid-area: colorOrder_wrap;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 60px 1fr;
	grid-template-columns: 60px 1fr;
	    grid-template-areas: "colorOrder_g colorOrder_table";
}

.g_bodyin_bodyin_bottom_rsubin[data-ishowchart="wafermap"] .chartBody>div>div>div>div.colorOrder_wrap>.colorOrder_g {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	grid-area: colorOrder_g;
	margin: auto 1px;
}

.g_bodyin_bodyin_bottom_rsubin[data-ishowchart="wafermap"] .chartBody>div>div>div>div.colorOrder_wrap>.colorOrder_table {
	-ms-grid-row: 1;
	-ms-grid-column: 2;
	grid-area: colorOrder_table;
} */


.g_bodyin_bodyin_bottom_wafermap .colorGradient>span {
	display: block;
}
.g_bodyin_bodyin_bottom_wafermap .colorGradient .colorGradientSpan {
  display: inline-block;
}
.g_bodyin_bodyin_bottom_wafermap .colorGradient>span.outSpan {
    position: relative;
    margin-left: 0.5px;
    margin-right: 0.5px;
    width: 0px;
}
.g_bodyin_bodyin_bottom_wafermap .colorGradient .oneSpan>span:before,
.g_bodyin_bodyin_bottom_wafermap .colorGradient .twoSpan>span:before,
.g_bodyin_bodyin_bottom_wafermap .colorGradient .threeSpan>span:before,
.g_bodyin_bodyin_bottom_wafermap .colorGradient .fourSpan>span:before,
.g_bodyin_bodyin_bottom_wafermap .colorGradient .fiveSpan>span:before,
.g_bodyin_bodyin_bottom_wafermap .colorGradient .sixSpan>span:before {
    position: relative;
    top: 15px;
    left: -15px;
}
.g_bodyin_bodyin_bottom_wafermap .colorGradient .splitSpan {
  position: relative;
  top: 20px;
  background-color: #000;
}
.g_bodyin_bodyin_bottom_wafermap .colorGradient .oneSpan>span:before {
  content: '1';
}
.g_bodyin_bodyin_bottom_wafermap .colorGradient .twoSpan>span:before {
  content: '2';
}
.g_bodyin_bodyin_bottom_wafermap .colorGradient .threeSpan>span:before {
  content: '3';
}
.g_bodyin_bodyin_bottom_wafermap .colorGradient .fourSpan>span:before {
  content: '4';
}
.g_bodyin_bodyin_bottom_wafermap .colorGradient .fiveSpan>span:before {
  content: '5';
}
.g_bodyin_bodyin_bottom_wafermap .colorGradient .sixSpan>span:before {
  content: '6';
  left: 8px;
}

div.colorOrder_wrap>.colorOrder_table>table {
	margin-top: 20px;
}

.g_bodyin_bodyin_bottom_l {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	display: -ms-grid;
	display: grid;
	-ms-grid-rows: 1fr 20px 1fr;
	grid-template-rows: 1fr 20px 1fr;
	    grid-template-areas: "g_bodyin_bodyin_bottom_l_intop"
						"g_bodyin_bodyin_bottom_l_inmid"
						"g_bodyin_bodyin_bottom_l_inbottom";
	grid-area: g_bodyin_bodyin_bottom_l;
}

.g_bodyin_bodyin_bottom_l_intop {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	grid-area: g_bodyin_bodyin_bottom_l_intop;
	overflow-y: auto;
	border: 1px solid #f5f5f5;
}

.g_bodyin_bodyin_bottom_l_inmid {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
	grid-area: g_bodyin_bodyin_bottom_l_inmid;
	padding-top: 20px;
}

.g_bodyin_bodyin_bottom_l_inbottom {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
	grid-area: g_bodyin_bodyin_bottom_l_inbottom;
	overflow-y: auto;
	border: 1px solid #f5f5f5;
}

.g_bodyin_bodyin_bottom_l_item:not(:last-child), .g_bodyin_bodyin_bottom_lsub_item:not(:last-child) {
	border-bottom: 1px solid #ddd;
}

.g_bodyin_bodyin_bottom_l_itemin_main, .g_bodyin_bodyin_bottom_lsub_itemin_main {
	padding: 0px 40px;
	position: relative;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
	background-color: #fff;
	animation-name: bgColorChangeT;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-play-state: running;
	/* Firefox: */
	-moz-animation-name: bgColorChangeT;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: linear;
	-moz-animation-delay: 0s;
	-moz-animation-iteration-count: 1;
	-moz-animation-direction: normal;
	-moz-animation-play-state: running;
	/* Safari 和 Chrome: */
	-webkit-animation-name: bgColorChangeT;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: normal;
	-webkit-animation-play-state: running;
	/* Opera: */
	-o-animation-name: bgColorChangeT;
	-o-animation-duration: 1s;
	-o-animation-timing-function: linear;
	-o-animation-delay: 0s;
	-o-animation-iteration-count: 1;
	-o-animation-direction: normal;
	-o-animation-play-state: running;
}

@keyframes bgColorChangeT
{
0%   {background-color: #f0f0f0;}
25%  {background-color: rgb(244, 244, 244);}
50%  {background-color: rgb(251, 251, 251);}
100% {background-color: #fff;}
}

@-webkit-keyframes bgColorChangeT /* Safari 和 Chrome */
{
0%   {background-color: #f0f0f0;}
25%  {background-color: rgb(244, 244, 244);}
50%  {background-color: rgb(251, 251, 251);}
100% {background-color: #fff;}
}

.g_bodyin_bodyin_bottom_l_itemin_main>span, .g_bodyin_bodyin_bottom_lsub_itemin_main>span {
	position: absolute;
	right: 36px;
	top: 10px;
    font-size: 20px;
}

.g_bodyin_bodyin_bottom_l_itemin_main.active, .g_bodyin_bodyin_bottom_lsub_itemin_main.active {
	background-color: #f0f0f0;
	animation-name: bgColorChange;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-play-state: running;
	/* Firefox: */
	-moz-animation-name: bgColorChange;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: linear;
	-moz-animation-delay: 0s;
	-moz-animation-iteration-count: 1;
	-moz-animation-direction: normal;
	-moz-animation-play-state: running;
	/* Safari 和 Chrome: */
	-webkit-animation-name: bgColorChange;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: normal;
	-webkit-animation-play-state: running;
	/* Opera: */
	-o-animation-name: bgColorChange;
	-o-animation-duration: 1s;
	-o-animation-timing-function: linear;
	-o-animation-delay: 0s;
	-o-animation-iteration-count: 1;
	-o-animation-direction: normal;
	-o-animation-play-state: running;
}

@keyframes bgColorChange
{
0%   {background-color: #fff;}
25%  {background-color: rgb(251, 251, 251);}
50%  {background-color: rgb(244, 244, 244);}
100% {background-color: #f0f0f0;}
}

@-webkit-keyframes bgColorChange /* Safari 和 Chrome */
{
0%   {background-color: #fff;}
25%  {background-color: rgb(251, 251, 251);}
50%  {background-color: rgb(244, 244, 244);}
100% {background-color: #f0f0f0;}
}

.g_bodyin_bodyin_bottom_l_itemin_main.active>span, .g_bodyin_bodyin_bottom_lsub_itemin_main.active>span {
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); 	/* IE 9 */
	-moz-transform:rotate(180deg); 	/* Firefox */
	-webkit-transform:rotate(180deg); /* Safari 和 Chrome */
	-o-transform:rotate(180deg); 	/* Opera */
}

.g_bodyin_bodyin_bottom_l_itemin_sub, .g_bodyin_bodyin_bottom_lsub_itemin_sub {
	display: none;
}

.g_bodyin_bodyin_bottom_l_itemin_subin {
	padding: 0px 40px;
	height: 30px;
	line-height: 30px;
	text-align: right;
	cursor: pointer;
}

.g_bodyin_bodyin_bottom_l_itemin_subin:not(:last-child) {
	border-bottom: 1px solid #ddd;
}

.g_bodyin_bodyin_bottom_l_itemin_subin.selected {
	background-color: rgb(0, 176, 270);
}

.g_bodyin_bodyin_bottom_r {
	-ms-grid-row: 1;
	-ms-grid-column: 2;
	grid-area: g_bodyin_bodyin_bottom_r;
	max-height: 100%;
	min-height: 100%;
	height: 100%;
}

.g_bodyin_bodyin_bottom_r>.container-fluid {
	height: 100%;
}

.g_bodyin_bodyin_bottom_r>.container-fluid>.row {
	height: calc(50% - 10px);
}

.g_bodyin_bodyin_bottom_r>.container-fluid>.row>div {
	height: 100%;
}

.g_bodyin_bodyin_bottom_r .chartWarp {
	position: relative;
	margin-left: 20px;
	height: 100%;
	-webkit-box-shadow: 0 0 3px 2px #e3e3e3;
	box-shadow: 0 0 3px 2px #e3e3e3;
}

.chartWarp>.picturetop {
	position: relative;
}

.chartWarp>.picturebottom {
	max-height: 40px;
	height: 40px;
	max-width: 100%;
	width: 100%;
}

.picturebottom_in {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 25px 1fr 25px;
	grid-template-columns: 25px 1fr 25px;
	    grid-template-areas: "picturebottom_in_l picturebottom_in_m picturebottom_in_r";
	height: 40px;
}

.picturebottom_in_l {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	grid-area: picturebottom_in_l;
}

.picturebottom_in_m {
	-ms-grid-row: 1;
	-ms-grid-column: 2;
	grid-area: picturebottom_in_m;
    overflow: hidden;
}

.picturebottom_in_m ul {
	margin-bottom: 1px;
	padding-left: 0px;
	display: inline-block;
    white-space: nowrap;
}

.picturebottom_in_m ul>li {
	display: inline-block;
}

div.pictureline {
	display: inline-block;
	padding-top: 20px;
    height: 40px;
	width: 50px;
	cursor: pointer;
}

div.smithdata {
	display: inline-block;
	height: 40px;
}

.picturebottom_in_m_in {
	position: relative;
	height: 100%;
	display: inline-block;
}

.pictureline>p {
	height: 5px;
	background-color: #028BCD;
}

.picturebottom_in_r {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
	grid-area: picturebottom_in_r;
}

.picturebottom_in_l, .picturebottom_in_r {
	text-align: center;
}

.picturebottom_in_l>span, .picturebottom_in_r>span {
	top: 13px;
	font-size: 20px;
}

.chartWarp>.picturebottom p {
	margin-bottom: 1px;
	font-size: 12px;
}

.chartWarp>.picturebottom p>span {
	font-size: 12px;
}

.g_bodyin_bodyin_bottom_r .row+.row {
	margin-top: 20px;
}

.g_bodyin_bodyin_top_wrap {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 25px 1fr 25px;
	grid-template-columns: 25px 1fr 25px;
	    grid-template-areas: "g_bodyin_bodyin_top_wrap_l g_bodyin_bodyin_top_wrap_m g_bodyin_bodyin_top_wrap_r";
	height: 100%;
    line-height: 35px;
    background-color: #3d89f9;
}

.g_bodyin_bodyin_top_wrap_l {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	grid-area: g_bodyin_bodyin_top_wrap_l;
	text-align: center;
}

.g_bodyin_bodyin_top_wrap_l>span, .g_bodyin_bodyin_top_wrap_r>span {
	position: relative;
	top: 9px;
	color: #fff;
	display: none;
	font-size: 16px;
}

.g_bodyin_bodyin_top_wrap_l:hover, .g_bodyin_bodyin_top_wrap_r:hover {
	background-color: rgb(0, 176, 270);
}

.g_bodyin_bodyin_top_wrap_m {
	-ms-grid-row: 1;
	-ms-grid-column: 2;
	position: relative;
	grid-area: g_bodyin_bodyin_top_wrap_m;
	overflow: hidden;
}

.g_bodyin_bodyin_top_wrap_m_in {
	position: relative;
	height: 100%;
	display: inline-block;
}

 .g_bodyin_bodyin_top_wrap_m_in>ul {
	display: inline-block;
	white-space: nowrap;
} 

.g_bodyin_bodyin_top_wrap_m_in li {
	padding: 4px 20px;
	display: inline-block;
	height: 35px;
	line-height: 27px;
	color: #fff;
	letter-spacing: 1px;
	cursor: pointer;
	vertical-align: top;
}

.g_bodyin_bodyin_top_wrap_m_in li.active {
	padding: 0px 20px 4px;
	border-top: 4px solid #fff;
}

.g_bodyin_bodyin_top_wrap_m_in .glyphicon-remove {
	transform:rotate(45deg);
	-ms-transform:rotate(45deg); 	/* IE 9 */
	-moz-transform:rotate(45deg); 	/* Firefox */
	-webkit-transform:rotate(45deg); /* Safari 和 Chrome */
	-o-transform:rotate(45deg); 	/* Opera */
	color: #fff;
}

.g_bodyin_bodyin_top_wrap_r {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
	grid-area: g_bodyin_bodyin_top_wrap_r;
	text-align: center;
}

span.glyphicon, .thumbnail {
	cursor: pointer;
}

.g_bodyin_bodyin_bottom_r .thumbnail {
	position: relative;
	padding-bottom: 50px;
	min-height: 190px;
	height: 190px;
}

.g_bodyin_bodyin_bottom_r .thumbnail h3 {
	text-align: center;
	white-space: nowrap;
	font-size: 20px;
}

.g_bodyin_bodyin_bottom_r .thumbnail .caption {
	position: absolute;
    bottom: -10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
        transform: translateX(-50%);
}

.g_bodyin_bodyin_bottom_r .thumbnail.cannotclick {
	-webkit-transition: -webkit-filter 1.2s;
	transition: -webkit-filter 1.2s;
	-o-transition: filter 1.2s;
	transition: filter 1.2s;
	transition: filter 1.2s, -webkit-filter 1.2s;
	-webkit-filter: brightness(0.6) contrast(110%);
	        filter: brightness(0.6) contrast(110%);
	cursor: not-allowed;
}

@media screen and (max-width: 1023px) {
	.g_bodyin_bodyin_bottom {
		-ms-grid-columns: 300px 1fr;
		grid-template-columns: 300px 1fr;
	}
}

@media screen and (max-height: 500px) {
    body {
        min-height: 499px;
    }
}
. input::-webkit-outer-spin-button,
.g_bodyin_bodyin_bottom_lsub_mid_equal input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0; 
}
.g_bodyin_bodyin_bottom_lsub_mid_equal input{
	-moz-appearance:textfield;
	}
