body {
	display: grid;
	grid-template-rows: 40px 1fr;
	grid-template-columns: 40px 1fr;
	grid-template-areas: "g_logo  g_info"
						"g_menu  g_body";
	min-height: 100vh;
	min-width: 900px;
}

.g_logo {
	grid-area: g_logo;
	height: 40px;
	line-height: 40px;
	background-color: #3d89f9;
	text-align: center;
	vertical-align: middle;
}

.g_info {
	grid-area: g_info;
	height: 40px;
	line-height: 40px;
}

.g_menu {
	grid-area: g_menu;
	background-color: rgb(25, 28, 43);
}

.g_body {
	grid-area: g_body;
	padding: 20px;
	background-color: rgb(245, 245, 245);
}

.g_menu .nav>li>a {
	padding: 10px 11px;
}

.g_info_l {
	position: absolute;
	padding-left: 10px;
    letter-spacing: 2px;
    width: 215px;
    color: rgb(53, 140, 245);
    font-weight: 600;
}

.g_info_r {
	padding-left: 215px;
	text-align: right;
}

.g_info_r .glyphicon {
	margin-right: 20px;
	font-size: 22px;
	vertical-align: middle;
}

.g_bodyin {
	height: 100%;
}

.g_bodyin_tit {
    margin-bottom: 20px;
	height: 35px;
	line-height: 35px;
}

.g_bodyin_tit_l {
	position: absolute;
	width: 30px;
	border-right: 2px solid #000;
}

.g_bodyin_tit_r {
	padding-left: 30px;
}

.g_bodyin_tit_r .breadcrumb {
	padding: 0px 15px;
}
/* 桌面应用布局结束 */

/* 自定义开始 */
.g_bodyin_body {
	padding: 5px;
	height: calc(100% - 55px);
	background-color: #fff;
}

.g_bodyin_bodyin {
	height: 100%;
}

.g_bodyin_bodyin>.tab-content {
	height: calc(100% - 2px);
}

/* 分页组件开始 */
.futureDT2_page_wrapper {
	text-align: center;
}

.futureDT2_page {
	display: inline-block;
}

.futureDT2_page_span {
	display: inline-block;
}

.futureDT2_page_span input[type='text'] {
	margin-left: 3px;
	margin-right: 3px;
	width: 50px;
}

.pagination .pagination-item .pagination-link {
	border-radius: 0px;
}

.pagination .pagination-item .pagination-link.current {
	background-color: #3d89f9;
	color: #fff;
}

#pagelist, #pagelist2, .futureDT2_page_span {
	vertical-align: middle;
}
/* 分页组件结束 */

span.glyphicon {
	cursor: pointer;
}

.form-control-feedback {
	z-index: 11;
	pointer-events: auto;
	cursor: pointer;
}

.g_menu .nav-tabs>li>a {
	width: 40px;
}

.g_menu .nav>li>a {
    padding: 10px 10px;
    word-wrap: break-word;
    word-break: break-all;
}

/* new */
.allDetail_body {
	max-height: calc(100% - 40px);
	height: calc(100% - 40px);
}

.allDetail_body table {
	margin-bottom: 0px;
}

.allDetail_body table th, .allDetail_body table td {
	max-width: 135px;
	min-width: 135px;
	width: 135px;
}

.allDetail_body .table_head {
	overflow: hidden;
}

.allDetail_body .table_body {
	overflow: auto;
}

div#in {
	border: 2px dashed #ccc;
}

div#in ul {
	margin-bottom: 5px;
	padding: 2px;
}

.vectorMap_in {
	display: grid;
	grid-template-columns: 600px 1fr;
	grid-template-areas: "vectorMap_l  vectorMap_r";
}

.vectorMap_l {
	grid-area: vectorMap_l;
	overflow: auto;
}

.vectorMap_r {
	grid-area: vectorMap_r;
	position: relative;
	height: 100%;
	overflow: auto;
}

#vectorMap .panel-body .table {
	margin-bottom: 1px;
}

.coordinateInformation_div .panel-heading {
	position: relative;
}

.coordinateInformation_div .panel-heading>.glyphicon-ok {
	position: absolute;
	right: 10px;
	top: 12px;
}

#parameterMap {
	overflow-y: auto;
}

#parameterMap .panel-body>.container-fluid {
	margin-left: -15px;
	margin-right: -15px;
}

/* 色阶分布 */
.panel_map_color_order_distribution .chart_foot {
  text-align: center;
}
.panel_map_color_order_distribution .chart_foot table {
  margin-bottom: 1px;
}
.panel_map_color_order_distribution .chart_foot table th {
  text-align: center;
  font-size: 13px;
}
.panel_map_color_order_distribution .chart_foot table td {
  font-size: 13px;
}
.panel_map_color_order_distribution .chart_body {
	border-bottom: 1px dashed #ccc;
}
.panel_map_color_order_distribution .chart_body>div:nth-child(2) {
  height: 60px;
  text-align: center;
}
.panel_map_color_order_distribution .chart_body>div:nth-child(2) .colorGradient {
  margin-bottom: 30px;
  display: inline-block;
}
.panel_map_color_order_distribution .chart_body>div:nth-child(2) .colorGradient .colorGradientSpan {
  display: inline-block;
}
.panel_map_color_order_distribution .chart_body>div:nth-child(2) .colorGradient .outSpan {
  position: relative;
  margin-left: 0.5px;
  margin-right: 0.5px;
  width: 0px;
}
.panel_map_color_order_distribution .chart_body>div:nth-child(2) .colorGradient .oneSpan>span:before,
.panel_map_color_order_distribution .chart_body>div:nth-child(2) .colorGradient .twoSpan>span:before,
.panel_map_color_order_distribution .chart_body>div:nth-child(2) .colorGradient .threeSpan>span:before,
.panel_map_color_order_distribution .chart_body>div:nth-child(2) .colorGradient .fourSpan>span:before,
.panel_map_color_order_distribution .chart_body>div:nth-child(2) .colorGradient .fiveSpan>span:before,
.panel_map_color_order_distribution .chart_body>div:nth-child(2) .colorGradient .sixSpan>span:before {
  position: relative;
  top: 15px;
  left: -15px;
}
.panel_map_color_order_distribution .chart_body>div:nth-child(2) .colorGradient .splitSpan {
  position: relative;
  top: 20px;
  background-color: #000;
}
.panel_map_color_order_distribution .chart_body>div:nth-child(2) .colorGradient .oneSpan>span:before {
  content: '1';
}
.panel_map_color_order_distribution .chart_body>div:nth-child(2) .colorGradient .twoSpan>span:before {
  content: '2';
}
.panel_map_color_order_distribution .chart_body>div:nth-child(2) .colorGradient .threeSpan>span:before {
  content: '3';
}
.panel_map_color_order_distribution .chart_body>div:nth-child(2) .colorGradient .fourSpan>span:before {
  content: '4';
}
.panel_map_color_order_distribution .chart_body>div:nth-child(2) .colorGradient .fiveSpan>span:before {
  content: '5';
}
.panel_map_color_order_distribution .chart_body>div:nth-child(2) .colorGradient .sixSpan>span:before {
  content: '6';
  left: 8px;
}

/* 高斯分布期望 */
div.panel[data-iallstatistics="gaussiandistribution"] .panel-body>.container-fluid>div.row>div {
	padding-left: 5px;
	padding-right: 5px;
}

div.panel[data-iallstatistics="gaussiandistribution"] .panel-body>.container-fluid>div.row>div .panel-body {
	padding: 10px;
}

div.panel[data-iallstatistics="gaussiandistribution"] .panel-body>.container-fluid>div.row>div .panel-body>.container-fluid {
	margin-left: -10px;
	margin-right: -10px;
}

div.panel[data-iallstatistics="gaussiandistribution"] .container-fluid>.chart_body, div.panel[data-iallstatistics="gaussiandistribution"] .container-fluid>.chart_foot {
	display: inline-block;
}

div.panel[data-iallstatistics="gaussiandistribution"] .container-fluid>.chart_body {
	width: calc(100% - 205px);
}

div.panel[data-iallstatistics="gaussiandistribution"] .container-fluid>.chart_foot {
	vertical-align: top;
	width: 200px;
}

div.panel[data-iallstatistics="gaussiandistribution"] .chart_foot table {
	margin-bottom: 2px;
}

div.panel[data-iallstatistics="gaussiandistribution"] .chart_foot td {
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
}

div.panel[data-iallstatistics="gaussiandistribution"] .chart_foot td:nth-child(1) {
	max-width: 80px;
	min-width: 80px;
	width: 80px;
}

div.panel[data-iallstatistics="gaussiandistribution"] .chart_foot td:nth-child(2) {
	max-width: 120px;
	min-width: 120px;
	width: 120px;
}

div.panel[data-iallstatistics="gaussiandistribution"] .chart_foot tbody>tr:nth-child(6) {
	display: none;
}

div[data-dbcurveandsmith] div.picturetop {
	position: relative;
}

div.webParam {
	text-align: right;
}

div.webParam button {
	margin-left: 20px;
}

@media screen and (max-width: 1199px) {
    .vectorMap_in {
    	grid-template-columns: 350px 1fr;
    }
    div.panel[data-iallstatistics="gaussiandistribution"] .chart_foot th, div.panel[data-iallstatistics="gaussiandistribution"] .chart_foot td {
    	max-width: 120px;
    }
}

@media screen and (max-width: 767px) {
    .staff_authority {
        left: 0px;
    }
}

@media screen and (max-width: 600px) {
	.staff_addition, .staff_update {
	    left: 0px;
	}
}

@media screen and (max-height: 500px) {
    body {
        min-height: 499px;
    }
}