html, body {
	min-height: 500px;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-origin: border-box;
	background-attachment: fixed;
	background-image: url("../../../img/modules/login/login_bg.png");
}

/* 登录框 */
body>.container-fluid {
	position: relative;
}

.login_pan {
	position: absolute;
	top: 100px;
	right: 180px;
	width: 400px;
	background: #fff;
	border-radius: 8px;
}

.login_panin {
	margin: 40px;
}

.login_panin legend {
	margin-bottom: 5px;
	padding-bottom: 5px;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 3px;
	text-align: center;
	border-bottom: 0px solid #fff; 
}

.login_panin .container-fluid {
	margin-top: 40px;
	padding-left: 1px;
	padding-right: 1px;
}

.login_panin .form-group.has-feedback {
	margin-bottom: 25px;
}

.form-control-feedback {
	z-index: 3;
	pointer-events: auto;
	cursor: pointer;
}

.close_times {
	font-size: 26px;
    color: #000;
}

.button_div button {
	width: 100%;
}

.copy_div {
	margin-top: 10px;
	text-align: right;
}

.save_login_div {
	margin-bottom: 10px;
	font-size: 13px;
	height: 15px;
    line-height: 15px;
}

@media screen and (max-width: 768px) {
    .login_pan {
    	right: 10px;
    }
}
/* 登录框 结束*/