
*{
	margin:0;
}
ul,li{
	list-style: none;
}
html,body{
	width:100%;
	height:100%;
	background:url(../image/login_bg.png) no-repeat center ;
	background-size:cover;
	font-family: "microsoft yahei";
	overflow: hidden;
}
.top{
	width:100%;
	height:45px;
	background: #fff;
}
.title{
	display: inline-block;
	width:120px;
	height:100%;
	font-size: 20px;
	font-weight:bold ;
	background: #fb393a;
	color: #fff;
	text-align: center;
	line-height: 45px;
}
.subtitle{
	height:100%;
	font-size: 16px;
	line-height: 45px;
	margin-left: 15px;
	letter-spacing: 2px;
}
.login_contain{
	/*width: calc(30% - 60px );*/
     width: 340px; 
    height: 350px;
    border-radius: 10px;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    padding: 30px;
}
.contain_title{
	font-size: 16px;
    font-weight: bold;
    margin: 10px 0 30px 0;
    color: #282828;
}
.login_contain ul{
	border-top:solid 1px #ddd ;
	width:100%;
	padding-left: 0px;
}
.login_contain ul li{
	width: 100%;
	height:40px;
	margin-top: 20px;
	border: solid 1px #ddd;
	border-radius: 4px;
}
.login_contain ul li.firstli{
	margin-top: 45px;
}
.login_contain ul .msgBox{
	border: solid 1px #d46f16;
	background: #ffe6e5;
	display: none;
}
.msgBox_icon{
	margin: 14px 14px 0 20px;
}
.msgBox_cont{
	font-size: 14px;
	font-weight: bold;
    vertical-align: text-top;
}
.login_contain .use-psd,.login_contain .sub-res{
	border: none;
	position: relative;
}
.login_contain .use-psd input,.login_contain .sub-res input{
	display: inline-block;
	height:100%;
	background: #f4f4f4;
	outline: none;
	border-radius: 4px;
	border: solid 1px #ddd;
}
.login_contain .use-psd input{
	width:calc(100% - 20px);
	padding-left:20px ;
	box-shadow: 0 0 0px 1000px #f4f4f4 inset ;
    height: 38px;
}
.psd_change{
	position: absolute;
	right:10px;
	top: 15px;
}
.login_contain .use-psd input:focus{
	box-shadow: 0 0 0px 1000px white inset !important;
}
.login_contain .sub-res .sub{
	width:100% ;
	font-size:16px;
	cursor:pointer;
	color: #444444;
}
.login_contain .sub-res .newsubbg{
	background:url(../image/subbg.png) no-repeat center!important;
	background-size:cover!important;
}
.login_contain .use-psd input::-webkit-input-placeholder {
      font-size: 14px;
   }
   .login_contain ul li.toolbox{
   	border: none;
   	font-size: 14px;
   	font-weight:bold;
   }
   .login_contain  .Remember{
   	float: left;
   	color: #333333;
   }
   .login_contain  .VersionBox{
	   	float: right;
	   	color:#757575;
	   	font-size: 12px;
   }
   #rem_psd{
   	display: inline-block;
   	width: 14px;
   	height: 14px;
  	    vertical-align: middle;
   }
   .copyright{
   	width: 100%;
   	text-align: center;
   	color:#fff;
   	font-size: 12px;
   	position: fixed;
   	bottom: 60px;
   }