body {
	display: grid;
	grid-template-rows: 40px 1fr;
	grid-template-columns: 40px 1fr;
	grid-template-areas: "g_logo  g_info"
						"g_menu  g_body";
	min-height: 100vh;
	min-width: 900px;
}

.g_logo {
	grid-area: g_logo;
	height: 40px;
	line-height: 40px;
	background-color: #3d89f9;
	text-align: center;
	vertical-align: middle;
}

.g_info {
	grid-area: g_info;
	height: 40px;
	line-height: 40px;
}

.g_menu {
	grid-area: g_menu;
	background-color: rgb(25, 28, 43);
}

.g_body {
	display: grid;
	grid-area: g_body;
	padding: 20px;
	background-color: rgb(245, 245, 245);
	grid-template-columns: 1fr 210px;
	grid-template-areas: "g_body_ll  g_body_rr";
}

.g_body_ll {
	grid-area: g_body_ll;
}

.g_body_rr {
	grid-area: g_body_rr;
	padding-left: 5px;
	padding-right: 5px;
}

.g_body_rr_tit {
	height: 55px;
}

.g_body_rr_body {
	position: relative;
	height: calc(100% - 55px);
	background-color: #fff;
	border: 1px solid #ccc;
}

.g_body_rr_body_item {
	height: 50px;
	line-height: 50px;
	cursor: pointer;
	border-bottom: 1px solid #eee;
}

.g_body_rr_body_item.active {
	background-color: #ccc;
}

.g_body_rr_body_itemin {
	display: none;
	background-color: #fff;
	font-size: 13px;
}

.g_body_rr_body_itemin>div {
	text-indent: 20px;
	font-size: 13px;
}

.g_body_rr_body_item.active .g_body_rr_body_itemin {
	display: block;
}

.g_body_rr_body_btn {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

.g_info_l {
	position: absolute;
	padding-left: 10px;
    letter-spacing: 2px;
    width: 215px;
    color: rgb(53, 140, 245);
    font-weight: 600;
}

.g_info_r {
	padding-left: 215px;
	text-align: right;
}

.g_info_r .glyphicon {
	margin-right: 20px;
	font-size: 22px;
	vertical-align: middle;
}

.g_bodyin {
	height: 100%;
}

.g_bodyin_tit {
    margin-bottom: 20px;
	height: 35px;
	line-height: 35px;
}

.g_bodyin_tit_l {
	position: absolute;
	width: 30px;
	border-right: 2px solid #000;
}

.g_bodyin_tit_r {
	padding-left: 30px;
}

.g_bodyin_tit_r .breadcrumb {
	padding: 0px 15px;
}

.g_bodyin_body {
	padding: 15px;
	max-height: calc(100% - 55px);
	height: calc(100% - 55px);
	background-color: #fff;
}

.g_bodyin_body_top {
	height: 50%;
	max-height: 50%;
	overflow-y: auto;
}

.g_bodyin_body_bottom {
    margin-top: 10px;
	height: calc(50% - 10px);
	max-height: calc(50% - 10px);
	overflow-y: auto;
	padding-top: 20px;
}

.g_bodyin_bodyin {
	height: 100%;
}

.g_bodyin_bodyin_tit {
	height: 40px;
	line-height: 40px;
}

.g_bodyin_bodyin_tit_r {
	padding-left: 90px;
	padding-right: 10px;
	height: 40px;
	text-align: right;
}

.g_bodyin_bodyin_tit_r>div {
	max-width: 350px;
    display: inline-block;
}

.g_bodyin_bodyin_tit_r .form-inline .form-group {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
}

.g_bodyin_bodyin_tit_r .form-control-feedback {
	top: 2px !important;
	z-index: 3;
	line-height: 41px;
	pointer-events: auto;
}

#search_button {
	position: relative;
	top: 1px;
}

span.glyphicon {
	cursor: pointer;
}

.g_bodyin_bodyin_body {
	height: calc(100% - 40px);
}

.g_bodyin_bodyin_body table, .g_bodyin_body_bottom table {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #bebebe;
}

.g_bodyin_bodyin_body thead tr, .g_bodyin_body_bottom thead tr {
	background-color: #3d89f9;
	color: #fff;
}

.g_bodyin_bodyin_body .table-striped>tbody>tr:nth-of-type(odd), .g_bodyin_body_bottom .table-striped>tbody>tr:nth-of-type(odd) {
	background: #ececec;
}

.g_bodyin_bodyin_body tbody>tr>td, .g_bodyin_bodyin_body tfoot>tr>td, .g_bodyin_bodyin_body thead>tr>th, .g_bodyin_body_bottom tbody>tr>td, .g_bodyin_body_bottom tfoot>tr>td, .g_bodyin_body_bottom thead>tr>th {
	border-top: 0px solid #fff;
	text-align: center;
	cursor: pointer;
}

.g_bodyin_body_bottom th:nth-child(1), .g_bodyin_body_bottom td:nth-child(1) {
	display: none;
}

/* 翻页组件 */
.futureDT2_page_wrapper {
	text-align: center;
}

.futureDT2_page {
	display: inline-block;
}

.futureDT2_page_span {
	display: inline-block;
}

.futureDT2_page_span input[type='text'] {
	margin-left: 3px;
	margin-right: 3px;
	width: 50px;
}

.pagination .pagination-item .pagination-link {
	border-radius: 0px;
}

.pagination .pagination-item .pagination-link.current {
	background-color: #3d89f9;
	color: #fff;
}

#pagelist, .futureDT2_page_span {
	vertical-align: middle;
}
/* 翻页组件 end */

@media screen and (max-height: 500px) {
    body {
        min-height: 499px;
    }
}