.futureDT2_bg_cover {
	position: absolute;
	width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	background-color: rgba(10%,20%,30%,.7);
	z-index: 9;
	overflow: hidden;
	display: none;
}

.futureDT2_addition {
	position: absolute;
	width: 500px;
	left: calc(50% - 250px);
	top: 50px;
	background-color: #fff;
	font-size: 15px;
	border-radius: 5px;
	z-index: 10;
	display: none;
}

.futureDT2_addition_l {
	display: inline-block;
	height: 100%;
	width: 100px;
	background-color: rgb(244, 244, 244);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	vertical-align: top;
}

.futureDT2_addition_menu {
	width: calc(100% - 10px);
	height: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 2px;
	background-color: #fff;
}

.futureDT2_addition_menu_in {
	padding-left: 10px;
	border-left: 4px solid rgb(49, 134, 252);
	height: 30px;
	line-height: 30px;
}

.futureDT2_addition_r {
	display: inline-block;
	height: 100%;
	width: 400px;
	vertical-align: top;
	border-bottom-right-radius: 5px;
}

.futureDT2_addition_r_tit {
	height: 40px;
	line-height: 40px;
	text-indent: 10px;
	border-bottom: 1px solid rgb(239, 239, 239);
}

.futureDT2_addition_r_bodyin div.row {
	margin-top: 15px;
	margin-bottom: 15px;
	height: 34px;
	line-height: 34px;
}

.futureDT2_addition_r_bodyin div.row>div:nth-child(1) {
	color: red;
}

.futureDT2_addition_r_bodyin div.row>div:nth-child(2) {
	padding-left: 0px;
	padding-right: 0px;
}

.futureDT2_addition_r_bodyin div.row>div:nth-child(3) {
	padding-left: 10px;
	font-size: 13px;
}

.futureDT2_addition_r_bodyin div.row>div:nth-child(3)>.glyphicon-info-sign {
	color: red;
	font-size: 18px;
}

.futureDT2_addition_r_bodyin div.row>div:nth-child(3)>.glyphicon-ok-sign {
	color: green;
	font-size: 18px;
}

.futureDT2_addition_r_bodyin>.container-fluid+.container-fluid {
	padding-top: 20px;
	padding-right: 0px;
    padding-left: 0px;
	background-color: rgb(244, 244, 244);
}

.futureDT2_addition_r_bodyin .container-fluid_in {
	background-color: #fff;
}

.futureDT2_addition_r_bodyin .container-fluid_in_tit {
	height: 35px;
	line-height: 35px;
	text-indent: 10px;
	border-bottom: 1px solid rgb(239, 239, 239);
}

.futureDT2_addition_r_foot {
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgb(244, 244, 244);
	border-bottom-right-radius: 5px;
}

.futureDT2_addition_r_foot>input+input {
	margin-left: 20px;
}

/* update */
.futureDT2_update {
	position: absolute;
	width: 500px;
	left: calc(50% - 250px);
	top: 50px;
	background-color: #fff;
	font-size: 15px;
	border-radius: 5px;
	z-index: 10;
	display: none;
}

.futureDT2_update_l {
	display: inline-block;
	height: 100%;
	width: 100px;
	background-color: rgb(244, 244, 244);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	vertical-align: top;
}

.futureDT2_update_menu {
	width: calc(100% - 10px);
	height: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 2px;
	background-color: #fff;
}

.futureDT2_update_menu_in {
	padding-left: 10px;
	border-left: 4px solid rgb(49, 134, 252);
	height: 30px;
	line-height: 30px;
}

.futureDT2_update_r {
	display: inline-block;
	height: 100%;
	width: 400px;
	vertical-align: top;
	border-bottom-right-radius: 5px;
}

.futureDT2_update_r_tit {
	height: 40px;
	line-height: 40px;
	text-indent: 10px;
	border-bottom: 1px solid rgb(239, 239, 239);
}

.futureDT2_update_r_bodyin div.row {
	margin-top: 15px;
	margin-bottom: 15px;
	height: 34px;
	line-height: 34px;
}

.futureDT2_update_r_bodyin div.row>div:nth-child(1) {
	color: red;
}

.futureDT2_update_r_bodyin div.row>div:nth-child(2) {
	padding-left: 0px;
	padding-right: 0px;
}

.futureDT2_update_r_bodyin div.row>div:nth-child(3) {
	padding-left: 10px;
	font-size: 13px;
}

.futureDT2_update_r_bodyin div.row>div:nth-child(3)>.glyphicon-info-sign {
	color: red;
	font-size: 18px;
}

.futureDT2_update_r_bodyin div.row>div:nth-child(3)>.glyphicon-ok-sign {
	color: green;
	font-size: 18px;
}

.futureDT2_update_r_foot {
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgb(244, 244, 244);
	border-bottom-right-radius: 5px;
}

.futureDT2_update_r_foot>input+input {
	margin-left: 20px;
}

@media screen and (max-width: 600px) {
	.futureDT2_addition, .futureDT2_update {
	    left: 0px;
	}
}